{% extends "reception/baseRec.html" %}

{% block content %}
<div class="container mt-4">

    <h2 class="mb-4">Ajouter un Pansement</h2>

    <form method="post">
        {% csrf_token %}
        <div class="row g-3">

            <!-- Patient -->
            <div class="col-md-6">
                <label for="{{ form.nom_personne.id_for_label }}" class="form-label">Nom personne complet *</label>
                {{ form.nom_personne }}
            </div>

            <!-- Numero dossier -->
            <div class="col-md-6">
                <label for="{{ form.numero_dossier.id_for_label }}" class="form-label">Numéro de dossier *</label>
                {{ form.numero_dossier }}
            </div>

            <!-- Montant -->
            <div class="col-md-6">
                <label for="{{ form.montant.id_for_label }}" class="form-label">Montant *</label>
                {{ form.montant }}
            </div>

            <!-- Panseur (Médecin) -->
            <div class="col-md-6">
                <label for="{{ form.panseur.id_for_label }}" class="form-label">Panseur *</label>
                {{ form.panseur }}
            </div>

            <!-- Observation -->
            <div class="col-md-6">
                <label for="{{ form.observation.id_for_label }}" class="form-label">Observation *</label>
                {{ form.observation }}
            </div>

            <!-- Commentaire -->
            <div class="col-md-6">
                <label for="{{ form.commentaire.id_for_label }}" class="form-label">Commentaire *</label>
                {{ form.commentaire }}
            </div>
        </div>

        <!-- Boutons -->
        <div class="d-flex justify-content-end mt-4">
            <a href="{% url 'pansement:pansement_list' %}" class="btn btn-secondary me-2">Annuler</a>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </form>
</div>
{% endblock %}
