{% extends "laboratoire/baseLab.html" %}

{% load static %}

{% block content %}
<div class="app-body">
    <div class="row gx-3">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="card-title">Liste des Résultats</h5>
                    <div class="d-flex gap-2">
                        <a href="{% url 'laboratoire:resultat_create' %}" class="btn btn-primary">
                            <i class="bi bi-plus-circle"></i> Nouveau Résultat
                        </a>
                    </div>
                </div>

                <div class="card-body">
                    <!-- Barre de recherche -->
                    <div class="d-flex justify-content-end mb-3">
                        <input type="text" id="searchInput" class="form-control form-control-sm w-25" placeholder="Rechercher un resultat par patient...">
                    </div>

                    <div class="table-responsive">
                        <table id="basicExample" class="table truncate m-0 align-middle">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Numéro de dossier</th>
                                    <th>Patient</th>
                                    <th>Examen</th>
                                    <th>Résultat</th>
                                    <th>Commentaire</th>    
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="resultatTable">
                                {% for resultat in resultats %}
                                <tr>
                                    <td>{{ resultat.pk }}</td>
                                    <td>{{ resultat.patient.numero_dossier }}</td>
                                    <td class="examination-info">{{ resultat.patient.nom }} {{ resultat.patient.prenom }}</td>
                                    <td>{{ resultat.examen }}</td>
                                    <td>{{ resultat.resultat }}</td>
                                    <td>{{ resultat.commentaire|truncatechars:50  }}</td>

                                    
                                    <td>
                                        <div class="d-inline-flex gap-1">
                                            <a href="{% url 'laboratoire:resultat_detail' resultat.pk %}" class="btn btn-outline-info btn-sm">
                                                <i class="bi bi-eye"></i> Voir
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="8" class="text-center">Aucun résultat trouvé.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Script de recherche -->
<script>
    document.getElementById('searchInput').addEventListener('keyup', function() {
        let filter = this.value.toLowerCase();
        let rows = document.querySelectorAll('#factureTable tr');
        
        rows.forEach(row => {
            let numeroDossier = row.querySelector('td:nth-child(2)').textContent.toLowerCase();
            let nomPatient = row.querySelector('td:nth-child(3)').textContent.toLowerCase();

            if (numeroDossier.includes(filter) || nomPatient.includes(filter)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
</script>
{% endblock %}
