{% extends "laboratoire/baseLab.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">{% if form.instance.pk %}Modifier{% else %}Créer{% endif %} un Résultat</h2>

    <form method="post">
        {% csrf_token %}
        <div class="row g-3">
            {% for field in form %}
                <div class="col-md-6">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger">
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <!-- Boutons -->
        <div class="d-flex justify-content-end mt-4">
            <a href="{% url 'laboratoire:resultat_list' %}" class="btn btn-secondary me-2">Annuler</a>
            <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Modifier{% else %}Créer{% endif %}</button>
        </div>
    </form>
</div>
{% endblock %}
