{% extends "reception/baseRec.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center text-primary">💉 Détails du Vaccin</h1>

    <div class="card shadow-lg border-0">
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <th class="bg-light">Numéro du dossier</th>
                        <td>{{ vaccin.numero_dossier }}</td>
                    </tr>
                    <tr>
                        <th class="bg-light">Nom du Patient</th>
                        <td>{{ vaccin.nom_personne }}</td>
                    </tr>
                    <tr>
                        <th class="bg-light">Type de Vaccin</th>
                        <td>{{ vaccin.type_vaccin }}</td>
                    </tr>
                    <tr>
                        <th class="bg-light">Montant</th>
                        <td>{{ vaccin.montant }} FCFA</td>
                    </tr>
                    <tr>
                        <th class="bg-light">Commentaire</th>
                        <td>{{ vaccin.commentaire }}</td>
                    </tr>
                    <tr>
                        <th class="bg-light">Date de Création</th>
                        <td>{{ vaccin.date|date:"d/m/Y H:i" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'vaccin:vaccin_update' vaccin.pk %}" class="btn btn-warning">
            <i class="bi bi-pencil-square"></i> Modifier
        </a>
        <a href="{% url 'vaccin:vaccin_list' %}" class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i> Retour à la liste
        </a>
    </div>
</div>
{% endblock %}
