{% extends "laboratoire/baseLab.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center text-primary">🧪 Détails de l'Examen Cytologie ECBU</h1>

    <div class="card shadow-lg border-0">
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <th class="bg-light">Patient</th>
                        <td>{{ examen.nom_personne }}</td>
                    </tr>
                    <tr>
                        <th class="bg-light">Numéro de dossier</th>
                        <td>{{ examen.numero_dossier }}</td>
                    </tr>

                    <tr>
                        <th class="bg-light">ECBU Couleur</th>
                        <td>{{ examen.ecbu_couleur }}</td>
                    </tr>
                    <tr>
                        <th class="bg-light">ECBU Culot</th>
                        <td>{{ examen.ecbu_culot }}</td>
                    </tr>
                    <tr>
                        <th class="bg-light">Cyto CE</th>
                        <td>{{ examen.cyto_ce }}</td>
                    </tr>
                    <tr>
                        <th class="bg-light">Cyto Leuco</th>
                        <td>{{ examen.cyto_leuco }}</td>
                    </tr>
                    <tr>
                        <th class="bg-light">Cyto Cylindre</th>
                        <td>{{ examen.cyto_cylendre }}</td>
                    </tr>
                    <tr>
                        <th class="bg-light">Cyto Cristaux</th>
                        <td>{{ examen.cyto_cristaux }}</td>
                    </tr>
                    <tr>
                        <th class="bg-light">Cyto H</th>
                        <td>{{ examen.cyto_h }}</td>
                    </tr>
                    <tr>
                        <th class="bg-light">Cyto Gram</th>
                        <td>{{ examen.cyto_gram }}</td>
                    </tr>
                    <tr>
                        <th class="bg-light">Commentaire</th>
                        <td>{{ examen.commentaire }}</td>
                    </tr>
                    <tr>
                        <th class="bg-light">Date de création</th>
                        <td><span class="badge bg-info">{{ examen.date|date:"d/m/Y H:i" }}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'laboratoire:ecbu_cytologie_update' pk=examen.pk %}" class="btn btn-warning">
            <i class="bi bi-pencil-square"></i> Modifier
        </a>
        <a href="{% url 'laboratoire:ecbu_cytologie_list' %}" class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i> Retour à la liste
        </a>
    </div>
</div>
{% endblock %}
